@tailwind base;
@tailwind components;
@tailwind utilities;

/* This is the same as the tailwind modules inside plugins

@layer base {
  b {
    @apply text-mainColor font-bold;
  }
} 

 @layer utilities {
  .mainButton {
    background-color: var(--mainColor);
    border: 1px solid var(--mainColor);
    padding: 10px 20px;
    border-radius: 10px;
  }
  .secButton {
    background-color: var(--mainColor);
  }
  .ghostButton {
    background-color: var(--mainColor);
  }
  .linkButton {
    background-color: var(--mainColor);
  }
} 

*/

* {
  margin: 0;
  padding: 0;
  color-scheme: dark;
}
